{% extends "templates/base.html" %}

{% set meta_title = "Action Alert: Tell Supervisor Aaron Peskin You Support Bike Share" %}
{% set meta_description = "Ford GoBike and JUMP are close to expanding in District 3. We need your help to encourage Aaron Peskin to support this expansion of bike share!" %}
{% set meta_share_graphic = "https://ourbikes.org/static/images/share-supporters.png" %}

{% set dark_bg_page = false %}

{% block head %}
{% endblock %}

{% block body_class %}alert{% endblock %}

{% block body %}
  <div class="message">
    <div class="header">
        {% if not letter_campaign_active or not debug %}
          <h2>This campaign has ended.</h2>
          <p>Thank you! We've received enough emails from supporters for this campaign.</p>
        {% else %}


          <img src="{{meta_share_graphic}}" class="graphic">

          <h2>{{meta_title}}</h2>
          <h3>{{meta_description}}</h3>

          <!-- <ul class="social" style="padding-bottom: 12px;">
            <li><a target="_blank" href="https://twitter.com/home?status=Tell%20the%20%40sfmta_muni%20%26%20Supervisor%20%40VallieBrownD5%20we%20need%20Bike%20Share%20at%20Golden%20Gate%20Park%0A%0Ahttps%3A//ourbikes.org/actionalert" target="_blank" class="twitter">Twitter</a>
            <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//ourbikes.org/actionalert" target="_blank" class="facebook">Facebook</a>
          </ul> -->

          <a target="_blank" href="{{letter.link}}" class="button">Send email</a>

          <div class="email">
            <p class="divider"><span>To </span>{{letter.recipients}}</p>
            <p class="divider"><span>Subject </span>{{letter.subject}}
            <p>{{letter.body|safe}}
            {% if full_name and neighborhood %}
            <p>{{full_name}}
            {% endif %}
          </div>
        {% endif %}
    </div>
  </div>

  {% if not debug %}
  <script>
    history.pushState(null, "", location.href.split("?")[0]);
  </script>
  {% endif %}
{% endblock %}